API_ID = 21463488
API_HASH = bebb103f3959781047d8b2460dcdc832
BOT_TOKEN = 8025651270:AAFIojwsRvMHua94kocpI0SEWK_natk1Al4
LOG_GROUP_ID = -1002722461563
MONGO_DB_URI = mongodb+srv://mrarya233:PqyVLX3AufQQpMz0@aatma.5frpmsj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = BQFHgcAAlWtYNIi2-vlso_zmePDrOU2gHpieed9IGNF86PZFhU07hK24jCD786oQ4ppy0n3k9iGihLNPDt_SGqVjxrpsjbmowd4h-kU5JW4phK0zsKvmkEPPqyH-siS9B-THFRZjZG-NTkbfSBqPIotm94AtM1Gh37Px0C7bJ36sFP_c7I5TXfH5nrC93G2sU285w_koZyVr49L5m51V7rmhtToekBmKhJRhdF7K-xXHOrf1jJWeFaQkkLGSHZIWCZmGUGZmC4SGRsejGIDCUzFral_poGx8j3GxWtcHuYPZDhh1jObdPOf2qBK1BIFHtSl5GvbASRQiqpnA4EjNlBl38k3wZQAAAAHHgLuCAA
STRING_SESSION2 = 

